Pago Servicios/BancoContenido/BancoContenido/Connected Services/ServiceAguaAyA/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PagoAguaAyA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPagoAguaAyA_montopago_InputMessage">
    <wsdl:part name="parameters" element="tns:montopago" />
  </wsdl:message>
  <wsdl:message name="IPagoAguaAyA_montopago_OutputMessage">
    <wsdl:part name="parameters" element="tns:montopagoResponse" />
  </wsdl:message>
  <wsdl:message name="IPagoAguaAyA_pago_InputMessage">
    <wsdl:part name="parameters" element="tns:pago" />
  </wsdl:message>
  <wsdl:message name="IPagoAguaAyA_pago_OutputMessage">
    <wsdl:part name="parameters" element="tns:pagoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPagoAguaAyA">
    <wsdl:operation name="montopago">
      <wsdl:input wsaw:Action="http://tempuri.org/IPagoAguaAyA/montopago" message="tns:IPagoAguaAyA_montopago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPagoAguaAyA/montopagoResponse" message="tns:IPagoAguaAyA_montopago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pago">
      <wsdl:input wsaw:Action="http://tempuri.org/IPagoAguaAyA/pago" message="tns:IPagoAguaAyA_pago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPagoAguaAyA/pagoResponse" message="tns:IPagoAguaAyA_pago_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPagoAguaAyA" type="tns:IPagoAguaAyA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="montopago">
      <soap:operation soapAction="http://tempuri.org/IPagoAguaAyA/montopago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pago">
      <soap:operation soapAction="http://tempuri.org/IPagoAguaAyA/pago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagoAguaAyA">
    <wsdl:port name="BasicHttpBinding_IPagoAguaAyA" binding="tns:BasicHttpBinding_IPagoAguaAyA">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceAguaAyA/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>