Pago Servicios/BancoContenido/BancoContenido/Connected Services/ServicePagoJasecJava/electricidadJasec.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://principal/" targetNamespace="http://principal/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consulta" type="tns:consulta" />
  <xs:element name="consultaResponse" type="tns:consultaResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="pago" type="tns:pago" />
  <xs:element name="pagoResponse" type="tns:pagoResponse" />
  <xs:complexType name="pago">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>