Pago Servicios/BancoContenido/BancoContenido/Connected Services/ServiceAguaAsada/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="montopago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medidor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="montopagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="montopagoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medidor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pagoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>